<h3>Products</h3>

<% if is_admin?  %>
    <span class="admin_links"><%= link_to 'New Product', new_product_path, remote: true  %></span>
<% end  %>

<div id="dynamic_admin_area"></div>

<br><br>

<%= render partial: 'index' %>
